<div class="report-container">
    <h2>report</h2>
    <select name="report_select" id="report_select">
        {{#report}}
            <option value="{{value}}">{{label}}</option>
        {{/report}}
    </select>
</div>