<!-- Include jQuery first -->
{{! <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<!-- Then include DataTables -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script> }}

<div class="local_reports_user_list" id="local_reports_user_list">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-6">
                    {{! <div class="box-title">
                        Hippa Course User List
                    </div> }}
                </div>
                <div class="col-6 text-right">
                    <!-- Optional: Add buttons or filters here -->
                </div>
            </div>

            <div class="pt-3">
               <table id="userTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>{{#str}}id{{/str}}</th>
                            <th>{{#str}}username{{/str}}</th>
                            <th>{{#str}}email{{/str}}</th>
                            <th>{{#str}}course_status, local_reports{{/str}}</th>
                            <th>{{#str}}start_date, local_reports{{/str}}</th>
                            <th>{{#str}}completion_date, local_reports{{/str}}</th>
                            <th>{{#str}}total_score, local_reports{{/str}}</th>
                            <th>{{#str}}actions{{/str}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#users}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{email}}</td>
                            <td>{{Coursestatus}}</td>
                            <td>{{startdate}}</td>
                            <td>{{completiondate}}</td>
                            <td>{{grade}}</td>
                            <td>
                                <a href="{{action_url}}" class="btn btn-primary btn-sm">{{#str}}view{{/str}}</a>
                            </td>
                        </tr>
                        {{/users}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
  
</script>
